<div class="model-lib" ng-controller="ModelsListController">
    <div class="model-item" ng-repeat="model in models">
        <p>
            {{ model.name }}
        </p>
        <p>
            <input type="button" ng-click="editModel(model.id)" value="Edit">
        </p>
    </div>
    <div>
        <input type="text" ng-model="newName" placeholder="Object">
        <input type="button" ng-click="addModel()" value="Add">
    </div>
</div>