<div class="model-edit" ng-controller="ModelEditController">
    <div>
        <label>Name : </label>
        <input type="text" ng-model="model.name">
    </div>
    <div>
        <h2>
            Fields
        </h2>
        <div ng-repeat="field in model.fields">
            <p>
                <input type="text" ng-model="field.name">
                ->
                <input type="text" ng-model="field.type">
            </p>
        </div>
        <div>
            <input type="button" ng-click="addField()" value="Add a field">
        </div>
    </div>
</div>