<div class="top" ng-include="view.top"></div>
<div class="middle">
    <div class="left" ng-include="view.left"></div>
    <div class="center" ng-include="view.center"></div>
    <div class="right" ng-include="view.right"></div>
</div>
<div class="bottom" ng-include="view.bottom"></div>