<h1>
    Welcome to Free Draft !
</h1>

<p>
    Start to create your own awesome projects !
</p>

<ul>
    <li>
        <input type="button" ng-click="goTo('new')" value="New project">
    </li>
    <li>
        <input type="button" ng-click="goTo('load')" value="Load project">
    </li>
    <li>
        <input type="button" ng-click="goTo('quit')" value="Quit">
    </li>
</ul>