html {
  background: white; }

.middle > * {
  position: relative;
  display: inline;
  overflow-y: scroll;
  height: 100%; }
.middle .left {
  width: 25%;
  border: 1px solid red; }

.model-lib .model-item > * {
  display: inline; }

/*# sourceMappingURL=style.css.map */
