$backgroundColor: white;

html {
    background: $backgroundColor;
}

.middle {
    > * {
        position: relative;
        display: inline;
        overflow-y: scroll;
        height: 100%;
    }

    .left {
        width: 25%;
        border: 1px solid red;
    }
}

.model-lib {
    .model-item {
        > * {
            display: inline;
        }
    }
}